.header
  z-index: 2
  width: 100%
  position: fixed
  // background-color: white
  top: 0
  z-index: 100
  transition: all .3s ease
  &__inner
    max-width: 1240px
    margin: 0 auto
    padding: 4rem
    display: flex
    align-items: center
    justify-content: space-between
    transition: all .4s ease
    @media (max-width: 1023px)
      padding: 2.6rem 2.2rem
  &__big
    @media (max-width: 1023px)
      display: none
  &__small
    display: none
    @media (max-width: 1023px)
      display: block
  &__center
    display: flex
    align-items: center
    @media (max-width: 1023px)
      display: none
    &-text
      font-size: 1.6rem
      text-transform: uppercase
      font-family: Poppins
      margin: 0 1.6rem
      color: $p
      opacity: 0.54
      letter-spacing: 0.7px
      transition: all 0.2s
      &:hover
        transition: all 0.2s
        opacity: 0.8
  &__icons
    display: flex
    transform: translateY(-2px)
    align-items: center
    @media (max-width: 1023px)
      display: none
    &-twitter
      margin-right: 2rem
      transform: translateY(2px)
  &__menu
    display: none
    cursor: pointer
    @media (max-width: 1023px)
      display: block


.headerWhite
  .twitterSVG
    & > *
      fill: $w
  .linkedinSVG
    & > *
      fill: $w

.menuActive
  opacity: 1

.menuIcon
  & > *
    fill: $p

.headerScroll
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.035)
  transition: all .4s ease
  background-color: white

.headerScrollInner
  transition: all .3s ease
  padding: 2.6rem 4rem
  @media (max-width: 1023px)
    padding: 1.7rem 2.2rem