extends main

include mixins/header
include mixins/footer
include mixins/tSpec
include mixins/mobileMenu

block content
  +mobileMenu()
  .aboutSVG
    .aboutSVG__1!=icon("about1")
    .aboutSVG__2!=icon("about2")
  +header("about")
  .abouttop
    h1.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") Our mission is to create a world of fairer, faster payments.
    h3.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") We are working hard to revolutionise the way customers pay for goods and services. We created KiKa because we believe that individuals and businesses should have real control over their money and data.
  .teamOuter
    .team
      h1.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") Meet the team
      h3.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") KiKa has been developed by payments and implementation experts, and brought to life by a dedicated team.
      .tSpecGrid
        +tSpec("philip", "Phillip Godden", "Head of Product", "philip-godden-4901011", true, "Philip is an accountant by training with 20 years of experience in leading large corporate change programmes driven by new technology solutions.  Prior to launching KiKa, Philip worked in Ernst and Young’s Technology Advisory practice advising clients such as JCB and GE Energy.")
        +tSpec("chris", "Chris Moore", "Head of Commercial", "chris-moore-51258013", true, "Chris has 15 years of experience in senior positions in the payments industry, most recently as Head of Advisory for payments at EY across Europe. Prior to that he was a Business Development Director at TSYS International, a market leading payments solution provider. Chris has demonstrated experience of selling payments solutions to clients and delivering those solutions. Chris now heads up sales for Kikapay as well as leading the overall company operations.")
        +tSpec("tony", "Tony Moore", "CTO", "tdotmore", true, "A superb stakeholder manager with the ability to lead, influence and negotiate cross functionally at various levels to deliver business critical objectives with 25+ years of practical cross-cultural management experience. Tony has led the Global Cards technology program at HSBC developing and deploying new service supporting their entire product line.")
        +tSpec("alex", "Alex D-W", "Legal Support", "alex-davis-white-142031141", true, "Alex recently graduated from St Peter's College, Oxford University with a First in History. He has worked at a large US investment bank, and two consultancies prior to his time at KiKa.")
    .aboutSVG__3!=icon("about3")
  +footer()