mixin faqInner(h1, text)
  .faq__inner.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")
    .faq__inner-top
      .faq__inner-text=h1
      .faq__inner-icon!=icon("chevronFAQ")
    .faq__inner-bottom=text



mixin faq()
  .faqOuter#faq
    h1.faq__big.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") Frequently asked questions
    h1.faq__small.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") FAQ's
    .faq
      .faq__left
        +faqInner("What is UK Open Banking?", "UK Open Banking is a set of payment regulations that came into effect in January 2018. Open Banking is a secure way to give providers access to your financial data. The goal of Open Banking is to transfer the ownership of financial data from banks to customers. With Open Banking, customers can see a holistic view of their financial position and make payments directly from their bank account, through licensed providers such as KiKa.")
        +faqInner("Do you need a license?", "We provide Account Information and Payment Initiation Services - to do this we must be granted a license by the Financial Conduct Authority. Rest assured that KiKa is carefully regulated for your security.")
      .faq__right
        +faqInner("How can I use KiKa?", "We team up with merchants to offer KiKa as a payment option for customers. If you’re a customer, simply choose KiKa at the checkout, or follow the link to KiKa provided by the merchant. Follow the instructions on the KiKa screens to confirm your payment. If you can’t see KiKa on the checkout screen, KiKa is not yet available with this merchant. If you’re a merchant and you’d like to offer KiKa to your customers, please get in touch with us below. We’d love to hear from you.")
        +faqInner("What do you charge to use KiKa?", "If you’re a customer, it’s completely free to use KiKa. Simply choose KiKa at the checkout. If you’re a merchant looking to use KiKa as a means of payment for your customers, get in touch with us below.")