mixin footer()
  .footer__outer
    .footer
      .footer__left
        a.footer__left-logo(href="/")!=icon("KiKaLogoFooter")
        .footer__left-text fairer, faster payments
        .footer__left-icons
          a.footer__left-icons-twitter(href="https://twitter.com/kikapay" target="_blank")!=icon("twitterFooter")
          a.footer__left-icons-linkedin(href="https://www.linkedin.com/company/kikapay/" target="_blank")!=icon("linkedinFooter")
        .footer__left-copyright © KiKapay 2019. All rights reserved.
      .footer__right
        .footer__right-dual
          .footer__right-dual-header Services
          a.footer__right-dual-text(href="/") Merchants
          a.footer__right-dual-text(href="/customers") Customers
          a.footer__right-dual-text(href="/partners") Partners
          a.footer__right-dual-text(href="/about") About
          a.footer__right-dual-text(href="/#faq") FAQ's
        .footer__right-dual
          .footer__right-dual-header Contact
          a.footer__right-dual-text(href="mailto:info@kikapay.com?Subject=New%20Enquiry") info@kikapay.com
          .footer__right-dual-text.footer__right-dual-text-mt 1 Ropemaker Street
          .footer__right-dual-text London
          .footer__right-dual-text EC2Y 9AW
