mixin hiw()
  .hiw
    .hiw__top
      .hiw__right.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")
        img.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible" src="https://s3.amazonaws.com/kikapay/kikaDiagram.png", alt="KiKa: How it Works")
      .hiw__left
        h2.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") How it works
        h4.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") KiKa enables customers to pay merchants directly from their bank accounts, which guarantees immediate payment via the Faster Payments Service. KiKa gives customers new payment flexibility and keeps their data protected.
        h4.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") We are being regulated by the FCA so you can rest assured that every KiKa payment is completely secure.
    //- .video.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")
    //-   video(playsinline='' onclick="this.paused ? this.play() : this.pause();" poster='https://s3.eu-west-2.amazonaws.com/kidsleepy/a4lPoster.png', src='https://scontent-lga3-1.xx.fbcdn.net/v/t66.18014-6/10000000_1082538765258734_2176434711825044574_n.mp4?_nc_cat=110&efg=eyJ2ZW5jb2RlX3RhZyI6Im9lcF9oZCJ9&_nc_ht=scontent-lga3-1.xx&oh=4ffde3943df0652c0a8a081590249298&oe=5C77E43C')
    //-   .video__text A fairer, faster way to pay
