mixin threeSectionCustomers()
  .three
    .three__inner.flipFlex
      .three__inner-left
        h2.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") Improved Security
        h4.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") We know that online security could not be more important in today’s world. KiKa keeps your payment data where it should be - between you and your bank. Safe from data breaches, safe from fraud. With KiKa, your data stays in your control.
      .three__inner-right.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")!=icon("three4")
    .three__inner.flipFlexOut.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")
      .three__inner-right.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")!=icon("three5")
      .three__inner-left
        h2.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") More flexibility
        h4.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") KiKa shows you the available funds in all your bank accounts before you pay. Make informed decisions and stay in control of your finances.
    .three__inner.flipFlex.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")
      .three__inner-left
        h2.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") Simplicity
        h4.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") KiKa is simple and fast. We’ll take you to your online banking - simply log in to confirm payments
      .three__inner-right.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")!=icon("three6")