mixin threeSection()
  .three
    .three__inner
      .three__inner-right.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")!=icon("three1")
      .three__inner-left
        h2.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") Cuts costs
        h4.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") KiKa cuts costs by dramatically reducing transaction fees.&nbsp;
          span.specialGIT Get in touch
          |  to find out exactly how much KiKa could save your business.
    .three__inner.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")
      .three__inner-left
        h2.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") Reduces Risk of Fraud
        h4.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") KiKa’s model, enabled by UK Open Banking regulations, means your business no longer needs to handle customer payment data or bear liability for fraud, so your staff can concentrate on adding value to your business.
      .three__inner-right.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")!=icon("three2")
    .three__inner.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")
      .three__inner-right.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")!=icon("three3")
      .three__inner-left
        h2.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") Immediate Payments
        h4.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible") No more waiting around for your money - receive your funds instantly with KiKa! Our streamlined payment process makes KiKa perfect for you and your customers.