mixin wide()
  .wideOuter.animate.fade-in(data-animate data-animation="animate fade-in" data-animation-classes="visible")
    .wide
      .wide__handle.wide__handle-next
        span!=icon("wideRight")
      .wide__handle.wide__handle-prev
        span!=icon("wideLeft")
      .wide__extra
        figure
          img.wide__extra-active(src="https://s3.amazonaws.com/kikapay/wide0Alt.jpg", alt="KikaPay")
          img(src="https://s3.amazonaws.com/kikapay/wide1Alt.jpg", alt="KikaPay")
          img(src="https://s3.amazonaws.com/kikapay/wide2Alt.jpg", alt="KikaPay")
          img(src="https://s3.amazonaws.com/kikapay/wide3Alt.jpg", alt="KikaPay")
        .stories
          ul
            .wide__right.wide__right-active
              !=icon("wide4")
              .wide__right-title Easy Implementation
              .wide__right-text Quick and simple implementation; KiKa can be easily integrated into your existing payments process.
            .wide__right
              !=icon("wide3")
              .wide__right-title One Process
              .wide__right-text No matter whether your customer are making a web purchase or paying an online invoice, the KiKa customer journey is the same.
            .wide__right
              !=icon("wide1")
              .wide__right-title One Feel
              .wide__right-text Whether your customer is using their mobile, tablet or PC - they can pay conveniently with KiKa.
            .wide__right
              !=icon("wide2")
              .wide__right-title Faster & Safer
              .wide__right-text New open-banking regulations making payments is faster and safer than ever before

